*{
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(61, 231, 243);
}


.navbar{
    position: absolute;
    left: 5px;
    margin-left: 40px;
    list-style-type: none;
}

.buscadorito{
    overflow: hidden;
    background-color: #d2eaee;
    border: solid black 3px;
}

form{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}



footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(61, 231, 243);
    text-align: center;
}

ul.footer_names{
    list-style-type: none;
}